tools/
data/genome_summary.csv
data/genomes/
data/pangenomes/*/gff_files/
data/pangenomes/*/prokka_output/
data/pangenomes/
data/test/
src/__pycache__/

data/pangenome_pipeline_output

data/presence_matrices/

updates/april2/FULL_correlation_matrix.csv
data/graphs/soft_thresholding_4_power_C.coli_ciprofloxacin.gml

# large weights file
data/graphs-5/700_randomized_SVM_weightsCampylobacter_coli_ciprofloxacin.csv


# temp files contaning memoized data frames
data/temp

results/Escherichia_coli_hairball

notes.md